body{
    height: 679px;
    background-image: linear-gradient(to right bottom, white, black);
}

form{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    margin-top: 50px;   
}

.formDiv form input{

    margin-bottom: 2%;
     
}
.formDiv p{

    margin: 1%;
    color: rgb(255, 0, 0);
     
}
.formDiv form select{

    margin-bottom: 2%;
     
}


.formDiv form input[type=text], .formDiv form input[type=number]{

    background-color: transparent;

}

.formDiv form input[type=text]:hover, .formDiv form input[type=number]:hover{
    
    border-bottom: 1px solid rgb(49, 128, 148);

}

.errorInput{
    border: 2px solid rgb(255, 0, 0);
}

.validInput{
    border: 2px solid rgb(0, 255, 0);
}
